* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  background: #ff9966; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "IBM Plex Serif", serif;
}

nav {
  background-color: #3f51b5;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  padding: 20px;
}
nav ul li:hover {
  background-color: #315599;
}
nav ul a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
}

/** Sencillo **/

.sencillo ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sencillo ul li {
  text-align: center;
}

@media (min-width: 768px) {
  .sencillo ul {
    flex-direction: row;
  }
}
