:root {
  --primary: #d9d9d9;
  --light: #fff;
  --grey: #efefef;
}

.d-flex {
  overflow: hidden;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

.menu a:hover {
  text-decoration: none;
}

.bg-primary {
  background-color: var(--primary) !important;
}

#sidebar-container {
  min-height: 80vh;
}
#sidebar-container .logoUser {
  padding: 0.875rem 1.25rem;
  color: #000;
}

#sidebar-container .menu {
  width: 18rem;
}
#sidebar-container .menu a {
  font-size: 25px;
  margin-bottom: 40px;
  color: rgb(50, 95, 184) !important;
}

#content {
  overflow-x: hidden;
  height: 70vh;
  padding-bottom: 5rem;
}
