* {
    box-sizing: border-box;
  }
  
body {
   box-sizing: border-box;
   margin: 0;
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
.container {
    width: 90%;
    max-width: 1100px;
  }
  

.navbar {
    background-color: #315599 !important;
  }
  
.navbar-brand {
    color: #fff !important;
  }
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
nav ul li {
    padding: 0 20px;
    margin-right: 5px;
    background-color: #ffffff2a;
  }
nav ul li:hover {
    background-color: #182477;
  }
nav ul a {
    color: white !important;
    text-decoration: none;
    font-size: 1.4rem;
  }
  
.logo {
    margin-left: 100px;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
  }
#imagen{
    margin-top: 0%;  
    margin-bottom: 0%; 
    background-image:url(img/imagen.jpg);
    color: #fff;
}
#titu{
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  font-style: oblique;
  text-shadow: rgb(133, 132, 132) 0.1em 0.1em 0.2em;
}
#fon{
  background-image: url(img/fondo1.jpg);
  margin: 5%;
  color: #fff;
}
#texto{
  display:inline-table;
  text-align: left;
  text-align: justify;
  width: 35%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-top: 5%;
}
#col{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  border: 2px solid rgb(73, 213, 255);
  border-radius: 2px;
  font-weight:bold;
  box-shadow: black 0.1em 0.1em 0.5em;
}
.column{
  display: inline-table;
  text-align: right;
  text-align: justify;
  width: 35%;
  padding-bottom: 5%;
  padding-left: 25%;
  padding-top: 5%;
  vertical-align:bottom;
}
#col1{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  border: 2px solid rgb(73, 213, 255);
  border-radius: 2px;
  font-weight:bold;
  box-shadow: black 0.1em 0.1em 0.5em;
}
.redes {
  display: flex;
  justify-content: space-between;
}

.redes a {
  color: #575757;
  font-size: 2em;
  margin-right: 20px;
}
